{%- liquid
  assign announcement_text = settings.announcement_text
  assign announcement_link = settings.announcement_link
-%}

{%- if announcement_text != blank -%}
  <div class="announcement-bar color-{{ settings.color_scheme }} gradient" role="region" aria-label="{{ 'sections.header.announcement' | t }}">
    {%- if announcement_link != blank -%}
      <a href="{{ announcement_link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
    {%- endif -%}
        <div class="page-width">
          <p class="announcement-bar__message {{ settings.text_alignment }}">
            <span>{{ announcement_text | escape }}</span>
            {%- if announcement_link != blank -%}
              {% render 'icon-arrow' %}
            {%- endif -%}
          </p>
        </div>
    {%- if announcement_link != blank -%}
      </a>
    {%- endif -%}
  </div>
{%- endif -%}
